.marked {
    margin-top: 20px;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.marked ul,
.marked ol {
    margin-left: 20px;
    margin-bottom: 1em;
}

.marked li {
    margin-bottom: 0.5em;
}

.marked p {
    margin-bottom: 1em;
}
