/* PurgeCSS will remove this */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}

.prose {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
}
